@font-face {
	font-family: 'Groningen';
	src: url('/fonts/Groningen-Bold.eot');
	src:
		local('Groningen Bold'),
		local('Groningen-Bold'),
		url('/fonts/Groningen-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Groningen-Bold.woff2') format('woff2'),
		url('/fonts/Groningen-Bold.woff') format('woff'),
		url('/fonts/Groningen-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Groningen';
	src: url('/fonts/Groningen-Regular.eot');
	src:
		local('Groningen Regular'),
		local('Groningen-Regular'),
		url('/fonts/Groningen-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Groningen-Regular.woff2') format('woff2'),
		url('/fonts/Groningen-Regular.woff') format('woff'),
		url('/fonts/Groningen-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('/fonts/Bebas-Regular.ttf');
	src:
		local('Bebas Regular'),
		local('Bebas-Regular'),
		url('/fonts/Bebas-Regular.otf') format('opentype'),
		url('/fonts/Bebas-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--primary-blue: #2b7bf3;
	--secondary-blue: #6cade1;
	--primary-pink: #dc15a4;
	--secondary-blue-transparent: #6cade199;
	--primary-pink-transparent: #dc15a499;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #140f29;
	color: #fff;
	font-family: 'Groningen';
}

.toaster {
	margin-top: 5em;
}
